---
layout: page
title: Research
---
<p>I am a member of <a href="http://popeye.snu.ac.kr/"> SCONE Lab </a> . I study about Social Network and recommender system
    <a href ="https://en.wikipedia.org/wiki/Color-glass_condensate"> colour-glass condensate </a>. 
    Brief explanation of these projects are given below.

</p>
<h2> Social Network :</h2>

<p>  <a href="https://www.sphenix.bnl.gov/web/"> sPHENIX </a> at BNL. 
 <a href="https://www.bnl.gov/riken/research/QGP.php" target="_blank"> quark-gluon plasma </a>.  

</p>


<h2>Recommender systems:</h2>



    <p>Soon to be updated </p>

    </p>
<section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
